<div class="container h-100">
	<div class="d-flex justify-content-center h-100">
		<div class="card">
			<div class="card-header">
				<h3>Restore Your Password</h3>				
			</div>
			<div class="card-body">
				<form #resetForm="ngForm">
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-user"></i></span>
						</div>
						<input type="email" class="form-control" placeholder="Your Email"  [(ngModel)]="email" name="email" 
						required pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$">
						
					</div>
					<div class="form-group">
						<input type="submit" value="Get New Password" class="btn btn-block btn-lg btn-primary" [disabled]="resetForm.invalid || wait" (click)="submit()" >
					</div>
				</form>
				<div class="message">{{message}} </div>

			</div>
		</div>

    </div>

  </div>
