.card{
    /* height: 370px; */
    margin-top: auto;
    margin-bottom: auto;
    /* width: 400px; */
    background-color: rgba(0,0,0,0.5) !important;
    }
        
    .card-header h3{
    color: white;
    }
    
    .input-group-prepend span{
    width: 50px;
    background-color: #3931af;
    color: black;
    border:0 !important;
    }
    
    input:focus{
    outline: 0 0 0 0  !important;
    box-shadow: 0 0 0 0 !important;
    
    }
    .ng-valid[required], .ng-valid.required  {
        border-left: 5px solid #42A948; /* green */
      }
      
      .ng-invalid:not(form)  {
        border-left: 5px solid #da0f0b; /* red */
      }

.message{
  color: wheat;
  width: 21rem;
  text-align: center;
}